<div class="t">
<div class="card" >
    <img class="card-img-top" [src]="this.photo" alt="Card image">
    <hr style="margin-top: 0%; color:gray;background-color:gray">
    
    <div class="card-body">
      <h4 class="card-title" style="text-align: center;">{{this.title}}. {{this.first}} {{this.last}}</h4>
      <p class="card-text" ><b style="background-color: white;">Edad:</b> {{this.age}} <br><b style="background-color: white;">Ciudad:</b> {{this.city}} <br> <b style="background-color: white;">Estado:</b> {{this.state}} <br>  <b style="background-color: white;">Pais:</b> {{this.country}} <br> <b style="background-color: white;">Email:</b> {{this.email}}</p>
    </div>
  </div>
</div>